* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem auto;
}
.title {
  background-color: rgb(121, 167, 167);
  color: rgb(79, 90, 90);
  text-align: center;
  width: 80%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.continents {
  display: flex;
  justify-content: center;
  width: 80%;
}
.continents > button {
  margin: 0.5rem;
}
.parameters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  visibility: hidden;
}
.parameters > button {
  font-size: 0.5rem;
}
.countries {
  visibility: hidden;
}
button {
  width: 5rem;
  border-radius: 50px;
  border: none;
  background-color: rgb(180, 204, 204);
  font-size: 0.8rem;
}

.countriesList {
  display: flex;
  justify-content: center;
  width: 80%;
  visibility: hidden;
  font-size: 0.8rem;
}

.countriesList > ul {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 7.5rem);
}

.countriesList ul li {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 2rem;
  margin: 0.5rem;
  background-color: rgb(97, 122, 117);
  text-decoration: none;
}
.countriesList ul li a {
  color: #f3f3f3;
  text-decoration: none;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 60vh;
  background-color: rgb(231, 231, 231);
}

.parameters {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 0.8rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(231, 231, 231);
}
.parameters > button {
  margin: 1rem;
}
@media (max-width: 600px) {
  .parameters {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 3.5rem);
    grid-gap: 0.3rem;
    font-size: 0.5;
  }
  .parameters > button {
    margin: 0.2rem;
    width: 3rem;
  }
  .countriesList {
    font-size: 0.6rem;
  }
  .countriesList > ul {
    grid-template-columns: repeat(2, 5rem);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 1rem;
    margin: 0.4rem;
    width: 100%;
  }
  .countriesList ul li {
    border-radius: 0.7rem;
    width: 80%;
  }
  .continents {
    flex-direction: column;
    align-items: center;
    margin: 0.4rem;
    padding: 0.4rem;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 1rem;
  }
  .continents > button {
    width: 100%;
    font-size: 0.75rem;
  }
  .countries {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 5rem);
    background-color: rgb(231, 231, 231);
    border-radius: 1rem;
    width: 80%;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 0.5rem;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(121, 167, 167); /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  visibility: hidden;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
